[submodule "editor/vim/bundle/vim-fugitive"]
	path = editor/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "editor/vim/bundle/vim-rhubarb"]
	path = editor/vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "editor/vim/bundle/vim-surround"]
	path = editor/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "editor/vim/bundle/rust.vim"]
	path = editor/vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "editor/vim/bundle/coc.nvim"]
	path = editor/vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "editor/vim/bundle/vim-cpp-enhanced-highlight"]
	path = editor/vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "editor/vim/bundle/fzf.vim"]
	path = editor/vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "editor/vim/bundle/fzf"]
	path = editor/vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "editor/vim/bundle/vim-trailing-whitespace"]
	path = editor/vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "shell/zsh/.zplug"]
	path = shell/zsh/.zplug
	url = https://github.com/zplug/zplug.git
[submodule "editor/vim/bundle/vim-signify"]
	path = editor/vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "editor/vim/bundle/vim-auto-save"]
	path = editor/vim/bundle/vim-auto-save
	url = https://github.com/907th/vim-auto-save
[submodule "editor/vim/bundle/vim-autoformat"]
	path = editor/vim/bundle/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat
[submodule "editor/vim/bundle/vim-expand-region"]
	path = editor/vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "editor/vim/bundle/vim-airline"]
	path = editor/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "editor/vim/bundle/vim-airline-themes"]
	path = editor/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "editor/vim/bundle/vim-tmux-navigator"]
	path = editor/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
