[submodule "zsh/.zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-rhubarb"]
	path = vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/bundle/vim-clang-format"]
	path = vim/bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "vim/bundle/vim-cpp-enhanced-highlight"]
	path = vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf
